@model AngularJs.Models.Movie
@{
    Layout = null;
}

<!DOCTYPE html>

<h1>{{ Test }}</h1> <!-- Angular -->
<h1>Model.Test</h1> <!-- Razor -->

<html ng-app="myApp">
<head>
    

    @*<a href="/Views/Home/Index.cshtml"></a>*@
    <meta name="viewport" content="width=device-width"/>
    <title>movie</title>
</head>
<body>
{{2 + 3}}

<div>
</div>
</body>
</html>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/ClientController/app.js"></script>